{% extends 'layouts/app.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="mt-1">
            <img class="rounded-circle article-img" src="/{{ post.account.profile_pic }}">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('main.posts', username=post.account.username) }}">{{ post.account.first_name }} {{ post.account.last_name }}</a>
                <small class="text-muted">{{ post.create_date }}</small>
            </div>
            <h2>
                <a href="{{ url_for('main.post', post_id=post.id) }}" class="article-title">{{ post.title }}</a>
            </h2>
            <p class="article-content">
                {{ post.content }}
            </p>
        </div>
    </article>
    {% endfor %}

    <!-- <article class="media content-section">
        <div class="mt-1">
            <img class="rounded-circle article-img" src="/static/images/default.jpg">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Katherine Domingo</a>
                <small class="text-muted">May 19, 2020</small>
            </div>
            <h2>
                <a href="#" class="article-title">I Like Owls</a>
            </h2>
            <p class="article-content">
                Owls are birds from the order Strigiformes, which includes over 200 species of mostly solitary and nocturnal birds of prey typified by an upright stance, a large, broad head, binocular vision, binaural hearing, sharp talons, and feathers adapted for silent flight.
            </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="mt-1">
            <img class="rounded-circle article-img" src="/static/images/default.jpg">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Katherine Domingo</a>
                <small class="text-muted">May 20, 2020</small>
            </div>
            <h2>
                <a href="#" class="article-title">Tups is an Owl</a>
            </h2>
            <p class="article-content">
                Tups looks like an Owl
            </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="mt-1">
            <img class="rounded-circle article-img" src="/static/images/default.jpg">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Katherine Domingo</a>
                <small class="text-muted">May 21, 2020</small>
            </div>
            <h2>
                <a href="#" class="article-title">Pugs</a>
            </h2>
            <p class="article-content">
                The pug is a breed of dog with physically distinctive features of a wrinkly, short-muzzled face, and curled tail. The breed has a fine, glossy coat that comes in a variety of colours, most often fawn or black, and a compact square body with well-developed muscles.
            </p>
        </div>
    </article> -->

{% endblock %}
