{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}My Account{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="form-group"
                style="margin-bottom: 0;">
                    <div class="profile-pic">
                        <img src="/static/images/default.jpg"
                        class="rounded-circle account-img"
                        width="220" height="220">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button"
                    id="profile-pic-btn"
                    class="btn btn-sm btn-outline-info center">
                        Upload profile picture
                    </button>
                    <input type="file" name="profile-pic-input"
                    id="profile-pic-input" accept="image/*"
                    style="display: none;">
                </div>
            </div>
        </form>
        <!-- <div class="media">
            <img src="/static/images/default.jpg"
            class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{#{ current_user.username }#}</h2>
                <p class="text-secondary">{#{ current_user.email }#}</p>
            </div>
        </div> -->

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">Account Info</legend>

                <!-- First name -->
                {{ f.form_group(form.first_name, class_="form-control-md mb-3") }}

                <!-- Last name -->
                {{ f.form_group(form.last_name, class_="form-control-md mb-3") }}

                <!-- Username -->
                {{ f.form_group(form.username, class_="form-control-md mb-3") }}

                <!-- Email -->
                {{ f.form_group(form.email, class_="form-control-md mb-3") }}
            </fieldset>
            <div class="form-group form-control-md">
                <button type="submit"
                class="btn btn-outline-info">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock %}
