{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/flash.html' as flash with context %}

{% block title %}My Account{% endblock %}

{% block content %}
    <div class="content-section">
        {{ flash.render() }}
        <form method="POST" action="{{ url_for('main.upload') }}" enctype="multipart/form-data">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="form-group"
                style="margin-bottom: 0;">
                    <div class="profile-pic">
                        <img src="/{{ current_user.profile_pic }}"
                        class="rounded-circle account-img"
                        width="220" height="220">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button"
                    id="profile-pic-btn"
                    class="btn btn-sm btn-outline-info">
                        Upload profile picture
                    </button>
                    <input type="file" name="profile-pic-input"
                    id="profile-pic-input" accept="image/*"
                    style="display: none;">
                </div>
            </div>
        </form>
        <!-- <div class="media">
            <img src="/static/images/default.jpg"
            class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{#{ current_user.username }#}</h2>
                <p class="text-secondary">{#{ current_user.email }#}</p>
            </div>
        </div> -->

        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">Account Info</legend>

                <!-- First name -->
                {{ f.form_group(form.first_name, class_="form-control-md mb-3", value=current_user.first_name) }}

                <!-- Last name -->
                {{ f.form_group(form.last_name, class_="form-control-md mb-3", value=current_user.last_name) }}

                <!-- Username -->
                {{ f.form_group(form.username, class_="form-control-md mb-3", value=current_user.username) }}

                <!-- Email -->
                {{ f.form_group(form.email, class_="form-control-md mb-3", value=current_user.email) }}
            </fieldset>
            <div class="form-group form-control-md">
                <button type="submit"
                class="btn btn-outline-info">
                    Submit
                </button>
            </div>
            <hr />
            <div class="form-group form-control-md">
                <button
                type="button" class="btn btn-sm btn-outline-dark font-weight-bold"
                data-toggle="modal" data-target="#password-modal">
                    Change Password
                </button>
            </div>
        </form>
    </div>

    <div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="password-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{{ url_for('main.change_password') }}">
                    {{ form.hidden_tag() }}

                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="password-modal-label">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <!-- Current Password -->
                            {{ f.form_group(form.old_password, class_="mb-2") }}

                            <!-- Confirm Current Password -->
                            {{ f.form_group(form.confirm_old_pass, class_="mb-2") }}

                            <!-- New Password -->
                            {{ f.form_group(form.password, class_="mb-2", label='New Password') }}

                            <!-- Confirm Current Password -->
                            {{ f.form_group(form.confirm_pass, class_="mb-2", label='Confirm New Password') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $('document').ready( function() {
        $('#profile-pic-btn').on('click', function() {
            $('#profile-pic-input').trigger('click');
        });

        $('#profile-pic-input').change(function() {
            $(this).closest('form').submit();
        });
    });
</script>
{% endblock %}
