{% extends 'layouts/app.html' %}

{% block title %}Post{% endblock %}

{% block content %}

    <article class="media content-section">
        <div class="mt-1">
            <img class="rounded-circle article-img" src="/static/images/default.jpg">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('main.posts', username=post.account.username ) }}">{{ post.account.first_name }} {{ post.account.last_name }}</a>
                <small class="text-muted">{{ post.create_date }}</small>
                {% if post.account == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
            <h2>
                <a href="#" class="article-title">{{ post.title }}</a>
            </h2>
            <p class="article-content">
                {{ post.content }}
            </p>
        </div>
    </article>
{% endblock %}
