{% extends 'layouts/app.html' %}
{% import 'macros/flash.html' as flash with context %}

{% block title %}Request Password Recovery{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forgot Password?</legend>
                {{ flash.render() }}
                <div class="form-group">
                    <label for="identity"
                    class="form-control-label">
                        Username/Email
                    </label>
                    <input type="text" name="identity" id="identity"
                    class="form-control form-control-lg"
                    placeholder="you@example.com">
                </div>
            </fieldset>
            <div class="form-group form-control-lg">
                <button class="btn btn-outline-info">
                    Request password reset
                </button>
            </div>
        </form>
    </div>
{% endblock %}
