{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/flash.html' as flash with context %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ flash.render() }}

                <!-- Password -->
                {{ f.form_group(form.password, class_="form-control-lg mb-5", label="New Password") }}

                <!-- Confirm password -->
                {{ f.form_group(form.confirm_pass, class_="form-control-lg mb-5", label="Confirm password") }}
            </fieldset>
            <div class="form-control-lg">
                <button type="submit"
                class="btn btn-outline-info">
                    Submit
                </button>
            </div>
        </form>
    </div>

{% endblock %}
