{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-2">
                <legend class="border-bottom mb-4">
                    Sign up
                </legend>

                <!-- First name -->
                {{ f.form_group(form.first_name, class_="form-control-lg mb-2") }}

                <!-- Last name -->
                {{ f.form_group(form.last_name, class_="form-control-lg mb-2") }}

                <!-- Username -->
                {{ f.form_group(form.username, class_="form-control-lg mb-2") }}

                <!-- Email -->
                {{ f.form_group(form.email, class_="form-control-lg mb-2") }}

                <!-- Password -->
                {{ f.form_group(form.password, class_="form-control-lg mb-2") }}

                <!-- Confirm password -->
                {{ f.form_group(form.confirm_pass, class_="form-control-lg mb-2") }}
            </fieldset>
            <div class="form-group">
                <button type="submit"
                class="btn btn-outline-info">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
{% endblock %}
