{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/flash.html' as flash with context %}

{% block title %} New Post {% endblock %}

{% block content %}

    <div class="content-section">
        {{ flash.render() }}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>

                <!-- Title -->
                {{ f.form_group(form.title, class_="form-control-lg mb-5") }}

                <!-- Content -->
                {{ f.form_group(form.content, class_="form-control-lg mb-5") }}
            </fieldset>
            <div class="form-group form-control-lg">
                <button type="submit"
                class="btn btn-outline-info">
                    Submit
                </button>
            </div>
        </form>
            }
    </div>

{% endblock %}
