{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/flash.html' as flash with context %}

{% if 'create' in request.endpoint %}
    {% set title = 'New Post' %}
    {% set endpoint = 'main.create' %}
    {% set kwargs = {} %}
    {% set button = 'Post' %}
{% else %}
    {% set title = 'Update Post' %}
    {% set endpoint = 'main.update' %}
    {% set kwargs = { 'post_id': post.id } %}
    {% set button = 'Update' %}
    {% set post_title = post.title %}
    {% set post_content = post.content %}
{% endif %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="content-section">
        {{ flash.render() }}
        {% call f.form_tag(endpoint, **kwargs) %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <!-- Title -->
                {{ f.form_group(form.title, class_="form-control-lg mb-5", value=post_title) }}

                <!-- Content -->
                {{ f.form_group(form.content, class_="form-control-lg mb-5", value=post_content) }}
            </fieldset>
            <div class="form-group form-control-lg">
                <button type="submit"
                class="btn btn-outline-info">
                    {{ button }}
                </button>
            </div>
        {% endcall %}
    </div>

{% endblock %}
