<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/vendor/datatables-bootstrap4.min.css" rel="stylesheet"/>
    <link href="/static/fonts/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" rel="stylesheet"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Body Block -->
    {% block body %}{% endblock %}

    <!-- Scripts -->
    <script src="/static/js/vendor/jquery-3.5.0.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/moment.min.js"></script>
    <script src="/static/js/vendor/datatables-bootstrap4.min.js"></script>
    <script src="/static/js/vendor/jquery.easing.1.3.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- Extra Script Block -->
    {% block script %}{% endblock %}
</body>
</html>
